.heading img {
  width       : 40px;
  height      : 40px;
  margin-right: 5px;
  margin-left : 10px;
}

.NewArrivals h1 {
  font-size    : 30px;
  margin-bottom: 0;
}

.NewArrivals h4 {
  font-weight: 400;
  font-size  : 17px;
}

.NewArrivals span {
  color      : #e94560;
  font-size  : 15px;
  font-weight: 500;
}

.NewArrivals .box img {
  width     : 120px;
  height    : 120px;
  object-fit: contain;
}